.root {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(1, 14.5%) repeat(3, 1fr) repeat(1, 14.5%);
  

  grid-template-areas: 
  '. header header header .'
  '. main main main .'
  ;

  
  width: 100%;
}

