@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";

@import "../blocks/page/page.css";

@import "../blocks/root/root.css";

/* header */
@import "../blocks/header/header.css";

/* main */
@import "../blocks/main/main.css";

/* profile */
@import "../blocks/profile/profile.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__image/profile__image.css";
@import "../blocks/profile/__text/profile__text.css";
@import "../blocks/profile/__title/profile__title.css";
@import "../blocks/profile/__subtitle/profile__subtitle.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__add-button/profile__add-button.css";

/* places */
@import "../blocks/places/places.css";
@import "../blocks/card/card.css";
@import "../blocks/card/__image/card__image.css";
@import "../blocks/card/__info/card__info.css";
@import "../blocks/card/__title/card__title.css";
@import "../blocks/card/__like-button/card__like-button.css";

/*footer*/
@import "../blocks/footer/footer.css";
@import "../blocks/footer/__title/footer__title.css";